<div class="chat-log">
  <div class="chat-message">
    <span class="chat-message__avatar-frame">
      <%= image_tag "avatar-b.png", class: "chat-message__avatar" %>
    </span>
    <p class="chat-message__text"><%= message.content %></p>
  </div>
</div>

