<div class="container-fluid m-0 p-0">
  <div class="page-banner d-flex justify-content-center align-items-center">
    <div class="backlit">
      <p>Let's Play</p>
      <div class="backlit-box"></div>
    </div>
  </div>
</div>
<div class="container-fluid m-0 p-0">
  <div class="row">
    <div class="col-8">
      <div class="results-pane">
        <div class="results-header">
          <p>Your Upcoming Games</p>
          <hr>
        </div>
        <div class="results-output">
          <div class="results-grouping">
            <div class="results-grouping-title">
              <div class="results-card"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="filter-pane">
        <div class="filter-header">
          <p>Filters</p>
        </div>
        <div class="filter-group">
          <div class="filter-title">
            <p>Organising</p>
          </div>
          <div class="filter-buttons-group">
            <button>Hosting</button>
            <button>Joining</button>
            <button>All</button>
          </div>
        </div>
          <div class="filter-group">
          <div class="filter-title">
            <p>Date Around</p>
          </div>
          <div class="filter-buttons-group">
            <button>Next 24 hrs</button>
            <button>This week</button>
            <button>All</button>
          </div>
        </div>
          <div class="filter-group">
          <div class="filter-title">
            <p>Game</p>
          </div>
          <div class="filter-buttons-group">
            <button>Monopoly</button>
            <button>Catan</button>
            <button>Risk</button>
            <button>Dominos</button>
            <button>All</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
