<div class="container">
  <div class="page-banner">
    <p class="page-banner-text">Let's Play</p>
    <span class="banner-text-block"></span>
  </div>
</div>
<div class="container">
  <div class="results-pane">
    <div class="results-header">
      <p>Your Upcoming Games</p>
      <hr>
    </div>
    <div class="results-output">
      <div class="results-grouping">
        <div class="results-grouping-title">
          <div class="results-card"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-pane">
    <div class="filter-header"></div>
    <div class="filter-group">
      <div class="filter-title"></div>
      <div class="filter-buttons-group">
        <button>Hosting</button>
        <button>Joining</button>
        <button>All</button>
      </div>
    </div>
  </div>
</div>
