<div class="container-fluid m-0 p-0">
  <div class="page-banner d-flex justify-content-center align-items-center">
    <div class="backlit">
      <p>Let's Play</p>
      <div class="backlit-box"></div>
    </div>
  </div>
</div>
<div class="container-fluid m-0 p-0">
  <div class="row">
    <div class="col-8">
      <div class="results-pane">
        <div class="results-header">
          <p>Your Upcoming Games</p>
          <hr>
        </div>
        <div class="results-output">
          <div class="results-grouping">
            <div class="results-grouping-title">
              <div class="results-card"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="filter-pane">
        <div class="filter-header">
          <p>Filters</p>
        </div>
        <div class="filter-group">
          <div class="filter-title">
            <p>Organising</p>
          </div>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active rounded btn-filter">
              <input type="radio" name="options" id="option1" checked> Host
            </label>
            <label class="btn btn-secondary rounded btn-filter">
              <input type="radio" name="options" id="option2"> Participant
            </label>
            <label class="btn btn-secondary rounded btn-filter">
              <input type="radio" name="options" id="option3"> All
            </label>
          </div>
        </div>
        <div class="filter-group">
          <div class="filter-title">
            <p>Date Around</p>
          </div>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active rounded btn-filter">
              <input type="radio" name="options" id="option1" checked> Next 24 hrs
            </label>
            <label class="btn btn-secondary rounded btn-filter">
              <input type="radio" name="options" id="option2"> This week
            </label>
            <label class="btn btn-secondary rounded btn-filter">
              <input type="radio" name="options" id="option3"> All
            </label>
          </div>
        </div>
          <div class="filter-group">
          <div class="filter-title">
            <p>Game</p>
          </div>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active rounded btn-filter">
              <input type="radio" name="options" id="option1" checked> Chess
            </label>
            <label class="btn btn-secondary rounded btn-filter">
              <input type="radio" name="options" id="option2"> Monopoly
            </label>
            <label class="btn btn-secondary rounded btn-filter">
              <input type="radio" name="options" id="option3"> Catan
            </label>
            <label class="btn btn-secondary rounded btn-filter">
              <input type="radio" name="options" id="option3"> Dominos
            </label>
            <label class="btn btn-secondary rounded btn-filter">
              <input type="radio" name="options" id="option3"> Risk
            </label>
            <label class="btn btn-secondary rounded btn-filter">
              <input type="radio" name="options" id="option3"> All
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
