<% @events.each do |event| %>
<div class="card-box event-card" >
  <div class="card-title">
      <h2> <%= event.title %></h2>
      <p>I am not sure what the fuck we're doing!<em style="color: #DD3567"> - 2 spots left!</em></p>
      <span class="location"><i class="fas fa-map-marker-alt"></i>  Central Bar - 3km  away<br>Created by Liz</span>
  </div>
  <%= link_to " ", event_path(event), class: "stretched-link"%>
</div>
<% end %>
