<div class="banner-events">
</div>
<div class="container-e pl-5 pr-5" data-controller="events" data-events-game-type-filter="" data-events-time-type-filter="">
  <div class="row">
    <div class="col-7" data-target="events.events">
      <%= render "shared/card" %>
    </div>
    <div class="col-5">
      <div class="filter sticky-top">
        <div class="tfil d-flex justify-content-between align-items-center form-inline">
          <div class="inner-addon left-addon d-flex">
            <label for="cit" class="labe" >Search</label>
            <i class="fas fa-search"></i>
            <input type="text" id="cit" class="form-control sear" placeholder="City" />
          </div>
        </div>
        <div class="bot-fil d-flex">
          <div class="all">
            <h3>Preferred games</h3>
            <div class="list-t">
             <div>
              <!-- <a class ="btn btn-primary" href="#" data-reflex="click->FilterReflex#filter_type" data-gametype="Axis">Strategy</a> -->
                <input class="checkbox-budget" type="checkbox" name="game-type" id="budget-1" data-action="click->events#filterGameType" data-game-type="strategy">
                <label class="for-checkbox-budget" for="budget-1">
                  <span >Strategy</span>
                </label>
                <input class="checkbox-budget" type="checkbox" name="game-type" id="budget-2" data-action="click->events#filterGameType" data-game-type="fun">
                <label class="for-checkbox-budget" for="budget-2">
                  <span >Fun</span>
                </label><!--
                --><input class="checkbox-budget" type="checkbox" name="game-type" id="budget-3" data-action="click->events#filterGameType" data-game-type="trivia">
                <label class="for-checkbox-budget" for="budget-3">
                  <span >Trivia</span>
                </label><!--
                --><input class="checkbox-budget" type="checkbox" name="game-type" id="budget-4" data-action="click->events#filterGameType" data-game-type="adventure">
                <label class="for-checkbox-budget" for="budget-4">
                  <span >Adventure</span>
                </label>
              </div>
            </div>
          </div>
          <div class="gametype">
              <h3>Time</h3>
             <div class="list-t">
             <div>
                <input class="checkbox-budget" type="checkbox" name="game-time" id="budget-5" data-action="click->events#filterTimeType" data-target="events.today" data-time-type="today">
                <label class="for-checkbox-budget" for="budget-5">
                  <span>Today</span>
                </label><!--
                --><input class="checkbox-budget" type="checkbox" name="game-time" id="budget-6" data-action="click->events#filterTimeType" data-target="events.tomorrow" data-time-type="tomorrow">
                <label class="for-checkbox-budget" for="budget-6">
                  <span>Tomorrow</span>
                </label><!--
                --><input class="checkbox-budget" type="checkbox" name="game-time" id="budget-7" data-action="click->events#filterTimeType" data-target="events.weekend" data-time-type="weekend">
                <label class="for-checkbox-budget" for="budget-7">
                  <span>This weekend</span>
                </label><!--
                --><input class="checkbox-budget" type="checkbox" name="game-time" id="budget-8" data-action="click->events#filterTimeType" data-time-type="week">
                <label class="for-checkbox-budget" for="budget-8">
                  <span>This week</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="mapp" id="map" style="width: 100%; height: 597px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
</div>

