<div class="banner-events">
  <h1>Let's Play</h1>

  <div class="search-sec">
    <form class="w-75 d-flex" action="#" method="post" novalidate="novalidate">
      <div>
        <input type="text" class="form-control search-slt" id="left" placeholder="Enter game">
      </div>
      <div>
        <input type="text" class="form-control search-slt" placeholder="This week">
      </div>
      <div>
        <select class="form-control search-slt" id="exampleFormControlSelect1">
         <option>In a radius of</option>
         <option>1 km</option>
         <option>2 km</option>
         <option>3 km</option>
         <option>4 km</option>
         <option>5 km</option>
       </select>
     </div>

      <button class="btn btn-primary wrn-btn" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
</div>


<div class="events-page-content">
  <div class="events-container">
    <h3>Happening in Oslo this week:</h3>
    <div class="event-group">
      <h4>Today</h4>
      <div class="box-border">
        <div class="card-box event-card" >
          <div class="card-title">
              <h2>Catan party</h2>
              <p>2 Participating<em style="color: #DD3567"> - 2 spots left!</em></p>
              <span class="location"><i class="fas fa-map-marker-alt"></i>  Central Bar - 3km  away<br>Created by Liz</span>
          </div>
          <%= link_to " ", event_path(@events),:class => "stretched-link"%>        
        </div>
      
        <div class="card-box event-card">
          <div class="card-title">
              <h2>Avalon Marathon</h2>
              <p>5 Participating<em style="color: gray"> - Full!</em></p>
            </div>
          </div>
        
        <div class="card-box event-card">
          <div class="card-title">
              <h2>Avalon Marathon</h2>
              <p>6 Participating<em style="color: gray"> - Full!</em></p>
          </div>
        </div>
      </div>
    </div>

    <div class="event-group">
      <h4>Next Week</h4>
      <div class="box-border">
        <div class="card-box event-card" >
          <div class="card-title">
              <h2>Catan party</h2>
              <p>2 Participating<em style="color: #DD3567"> - 2 spots left!</em></p>
              <span class="location"><i class="fas fa-map-marker-alt"></i>  Central Bar - 3km  away<br>Created by Liz</span>
          </div>
          <div>
        </div>
       </div>
        <div class="card-box event-card">
          <div class="card-title">
              <h2>Avalon Marathon</h2>
              <p>5 Participating<em style="color: gray"> - Full!</em></p>
            </div>
          </div>
        
        <div class="card-box event-card">
          <div class="card-title">
              <h2>Avalon Marathon</h2>
              <p>6 Participating<em style="color: gray"> - Full!</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="events-filter-bar " style="background-color: black">

  </div>
</div>
