<div class="banner-events">Let's Play</div>
	<div class="container">
    
<section class="search-sec">
    <div class="container">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
              <div class="col-lg-12">
                  <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <input type="text" class="form-control search-slt" placeholder="Enter game">
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <input type="text" class="form-control search-slt" placeholder="This week">
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <select class="form-control search-slt" id="exampleFormControlSelect1">
	                        <option>In a radius of</option>
	                        <option>1 km</option>
	                        <option>2 km</option>
	                        <option>3 km</option>
	                        <option>4 km</option>
	                        <option>5 km</option>
                        </select>
                      </div>
                     
                      <div>
                        <button class="btn btn-primary wrn-btn" type="submit">
                        <i class="fas fa-search"></i></button>
                      </div>
                  </div>
              </div>
            </div>
        </form>
    </div>
</section>
</div>

<div class="container">
	<div class="row border justify-center-between">
		<div class="border col-12 col-sm-6 col-md-8">
       <div class="card-box col-lg-12">
          <div class="card-title">
              <h2>Catan party</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, </p>
          </div>
        </div>
        <div class="card-box col-lg-12">
          <div class="card-title">
              <h2>Avalon Marathon</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, </p>
          </div>
        </div>
        <div class="card-box col-lg-12">
          <div class="card-title">
              <h2>Avalon Marathon</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, </p>
          </div>
        </div>
      </div>
      <hr>
      <div class="border col-12 col-sm-6 col-md-8">
       <div class="card-box col-lg-12">
          <div class="card-title">
              <h2>Lorem ipsum dolor si.</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, </p>
          </div>
        </div>
        <div class="card-box col-lg-12">
          <div class="card-title">
              <h2>Lorem ipsum dolor si.</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, </p>
          </div>
        </div>
        <div class="card-box col-lg-12">
          <div class="card-title">
              <h2>Lorem ipsum dolor si.</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
