<div class="banner-events">Let's Play</div>
<hr>

<div class="container">
	<div class="row">
		<div class="col-md-8">
      <h2 class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut hic explicabo eveniet? Neque repellendus iste, sequi, quo odio, vel amet laudantium quasi architecto sapiente magni, a ad corporis voluptate repellat?</h2>
    </div>
    <div class="col-md-4">
      <h2 class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione hic saepe magni, vero cupiditate cum, expedita eveniet pariatur itaque eum ducimus rem qui, reiciendis nam beatae. Reprehenderit quis cupiditate praesentium!</h2>
    </div>
  </div>
</div>
