<div class="banner-events">
  <h1>Let's Play</h1>

  <div class="search-sec">
    <form class="w-75 d-flex" action="#" method="post" novalidate="novalidate">
      <div>
        <input type="text" class="form-control search-slt" id="left" placeholder="Enter game">
      </div>
      <div>
        <input type="text" class="form-control search-slt" placeholder="This week">
      </div>
      <div>
        <select class="form-control search-slt" id="exampleFormControlSelect1">
         <option>In a radius of</option>
         <option>1 km</option>
         <option>2 km</option>
         <option>3 km</option>
         <option>4 km</option>
         <option>5 km</option>
       </select>
     </div>

      <button class="btn btn-primary wrn-btn" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
</div>


<div class="events-page-content">
  <div class="events-container">
    <h3 class="mb-5">Happening in Oslo this week:</h3>
    <div class="event-group">
      <div class="box-border">
        <%= render "shared/card" %>
      </div>
    </div>

  <div class="events-filter-bar " style="background-color: black">

  </div>
</div>
