<div class="container-e pl-5 pr-5" data-controller="events">
  <div class="row">
    <div class="col-7" data-target="events.events" style="padding: 10px;">
      <h1 style="color: rgb(8,146,208);">All events</h1>
      <div class="search-box">
        <input class="search-txt" type="text" placeholder="Type City you want">
        <a href="" class='search-btn'>
          <i class="fas fa-search"></i>
        </a>
      </div>
      <!-- <div class="d-flex justify-content-between align-items-center form-group">
          <div class="inner-addon left-addon d-flex col-12">
            <i class="fas fa-search"></i>
            <input type="text" id="cit" class="form-control sear input-xxlarge search-query" placeholder="City" />
          </div>
        </div> -->
      <div class="filtersss d-flex justify-content-between">
        <div class="gametypee my-2">
             <h3>Game type</h3>
             <input class="checkbox-budget" type="radio" name="budget" id="budget-1" data-action="click->events#filter" data-game-type="strategy">
                <label class="for-checkbox-budget" for="budget-1">
                  <span >Strategy</span>
                </label>
                <input class="checkbox-budget" type="radio" name="budget" id="budget-2" data-action="click->events#filter" data-game-type="fun">
                <label class="for-checkbox-budget" for="budget-2">
                  <span >Fun</span>
                </label><!--
                --><input class="checkbox-budget" type="radio" name="budget" id="budget-3" data-action="click->events#filter" data-game-type="trivia">
                <label class="for-checkbox-budget" for="budget-3">
                  <span >Trivia</span>
                </label><!--
                --><input class="checkbox-budget" type="radio" name="budget" id="budget-4" data-action="click->events#filter" data-game-type="adventure">
                <label class="for-checkbox-budget" for="budget-4">
                  <span >Adventure</span>
                </label>
            </div>
            <div class="dateee my-2">
            <h3>Date</h3>
             <input class="checkbox-budget" type="radio" name="budget" id="budget-5">
                <label class="for-checkbox-budget" for="budget-5">
                  <span>Today</span>
                </label><!--
                --><input class="checkbox-budget" type="radio" name="budget" id="budget-6">
                <label class="for-checkbox-budget" for="budget-6">
                  <span>This week</span>
                </label><!--
                --><input class="checkbox-budget" type="radio" name="budget" id="budget-7">
                <label class="for-checkbox-budget" for="budget-7">
                  <span>This weekend</span>
                </label><!--
                --><input class="checkbox-budget" type="radio" name="budget" id="budget-8">
                <label class="for-checkbox-budget" for="budget-8">
                  <span>All</span>
                </label>
          </div>
      </div>
      <%= render "shared/card" %>
    </div>
    <div class="col-5">
      <div class="mapp" id="map" style="width: 100%; height: 100vh;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>

<div class="filter">
        <div class="tfil d-flex justify-content-between align-items-center form-inline">
          <div class="inner-addon left-addon d-flex">
            <label for="cit" class="labe" >Search</label>
            <i class="fas fa-search"></i>
            <input type="text" id="cit" class="form-control sear" placeholder="City" />
          </div>
        </div>
        <div class="bot-fil d-flex">
          <div class="all">
            <h3>Preferred games</h3>
            <div class="list-t">
             <div>
              <!-- <a class ="btn btn-primary" href="#" data-reflex="click->FilterReflex#filter_type" data-gametype="Axis">Strategy</a> -->
                <input class="checkbox-budget" type="radio" name="budget" id="budget-1" data-action="click->events#filter" data-game-type="strategy">
                <label class="for-checkbox-budget" for="budget-1">
                  <span >Strategy</span>
                </label>
                <input class="checkbox-budget" type="radio" name="budget" id="budget-2" data-action="click->events#filter" data-game-type="fun">
                <label class="for-checkbox-budget" for="budget-2">
                  <span >Fun</span>
                </label><!--
                --><input class="checkbox-budget" type="radio" name="budget" id="budget-3" data-action="click->events#filter" data-game-type="trivia">
                <label class="for-checkbox-budget" for="budget-3">
                  <span >Trivia</span>
                </label><!--
                --><input class="checkbox-budget" type="radio" name="budget" id="budget-4" data-action="click->events#filter" data-game-type="adventure">
                <label class="for-checkbox-budget" for="budget-4">
                  <span >Adventure</span>
                </label>
              </div>
            </div>
          </div>
          <div class="gametype">
              <h3>Time</h3>
             <div class="list-t">
             <div>
                <input class="checkbox-budget" type="radio" name="budget" id="budget-5">
                <label class="for-checkbox-budget" for="budget-5">
                  <span>Today</span>
                </label><!--
                --><input class="checkbox-budget" type="radio" name="budget" id="budget-6">
                <label class="for-checkbox-budget" for="budget-6">
                  <span>This week</span>
                </label><!--
                --><input class="checkbox-budget" type="radio" name="budget" id="budget-7">
                <label class="for-checkbox-budget" for="budget-7">
                  <span>This weekend</span>
                </label><!--
                --><input class="checkbox-budget" type="radio" name="budget" id="budget-8">
                <label class="for-checkbox-budget" for="budget-8">
                  <span>All</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
