<div class="banner-events">
  <h1>Let's Play</h1>

  <div class="search-sec">
    <form class="w-75 d-flex" action="#" method="post" novalidate="novalidate">
      <div>
        <input type="text" class="form-control search-slt" id="left" placeholder="Enter game">
      </div>
      <div>
        <input type="text" class="form-control search-slt" placeholder="This week">
      </div>
      <div>
        <select class="form-control search-slt" id="exampleFormControlSelect1">
         <option>In a radius of</option>
         <option>1 km</option>
         <option>2 km</option>
         <option>3 km</option>
         <option>4 km</option>
         <option>5 km</option>
       </select>
     </div>

      <button class="btn btn-primary wrn-btn" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
</div>
<div class="container-e">
  <div class="row">
    <div class="col-7">
      <%= render "shared/card" %>
    </div>
    <div class="col-5">

    </div>
  </div>
</div>

