
<div class="banner text-center">
  <div class="text-center apac">
    <h1 class="text-white disp">Step into board games with</h1>
    <h1 class="tittt display-1">let's play</h1>
    <p class="displ text-white text-bold">Join board game events. <br> Organise your own!</p>
    <div class="d-flex justify-content-between dded mt-4" style="width: 550px;">
      <%= link_to "events", events_path, class: "btn btn-primary ser-but btn-lg" %>
      <%= link_to "organise", new_event_path, class: "btn btn-primary ser-butt btn-lg" %>
    </div>
  </div>
</div>
