.banner-events {
  height: 30vh;
  background: url("game-img.png");

  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: left;
  color: white;
  font-family: Bungee;
  font-size: 46px;
  padding-left: 40px;
  padding-top: 60px;

}
