.banner {
  height: 50vh;
  background: url("chess_pawn.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner h1 {
  font-size: 50px;
  font-weight: bolder;
}

.banner p {
  font-size: 30px;
  font-weight: lighter;
}
.banner h3 {
  font-size: 20px;
}
.bannerr {
  height: 50vh;
  background-image: url("https://www.alicesrestaurantnj.com/images/siteimages/BoardGame.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

