.banner {
  height: 100vh;
  background: asset-url("hero_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.apac {
  position: absolute;
  top: 500px;
  left: 586px;
}
.frr {
  position: absolute;
  left: 300px;
  margin-top: 60px;
}

.banner h3 {
  font-size: 20px;
}
.bannerr {
  height: 50vh;
  background-image: url("https://www.alicesrestaurantnj.com/images/siteimages/BoardGame.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

