.page-banner {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url(/assets/dominos.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 234px;
  background-position: center;

  p {
    font-family: $headers-font;
    font-size: 80px;
    color: #E5E5E5;
  }
}

.backlit {
  position: relative;
}


.backlit-box {
    position: absolute;
    top: 50px;
    left: 350px;
    width: 300px;
    height: 30px;
    background-color: $orange;
    z-index: 0;
  }
