.banner {
  height: 100vh;
  background: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), asset-url("chess_pawn.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.apac {
  position: absolute;
  top: 500px;
  left: 500px;
}
.frr {
  position: absolute;
  left: 300px;
  margin-top: 60px;
}

.banner h3 {
  font-size: 20px;
}
.bannerr {
  height: 50vh;
  background-image: url("https://www.alicesrestaurantnj.com/images/siteimages/BoardGame.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

