.bck {
  background: linear-gradient(#4E4E4E, #000000);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.set {
  margin-top: 50%;
}
.ii {
  border-radius: 15px;
}
.dd {
  position: absolute;
  left: 200px;
}
.bottom-right {
   position: absolute;
   bottom: 8px;
   right: 16px;
}
.wrapper {
  position: relative;
  padding: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.fa-dice {
  font-size: 300px;
  color: #DD3667;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.ttit {
  top: 15px;
}

.ttt {
  position: absolute;
  top: 50px;
  width: 100%;
}
.chat-box {
  color: #2F2E2E;
  position: absolute;
  right: 100px;
  border: 1px solid white;
  padding: 20px 50px;
  background-color: #E0E0E0;
  border-radius: 20px;
  width: 700px;
  height: 800px;
  overflow-y: scroll;
  border: 5px solid #DD3567;
  padding: 20px;
}

.info {
  width: 100%;
  padding: 20px;
}
.messs {
  background-color: #F4F4F4;
  padding: 10px;
  width: 100%;
  border: 1px solid #DD3567;
  border-radius: 10px;
  margin: 10px;
}
.innn {
  height: 50px;
}
