.bck {
  background: linear-gradient(#4E4E4E,  #C0C0C0);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.set {
  margin-top: 50%;
}
.ii {
  border-radius: 15px;
  filter: grayscale(30%);
}
.dd {
  position: absolute;
  left: 400px;
}
.bottom-right {
   position: absolute;
   bottom: 8px;
   right: 16px;
}
.wrapper {
  position: relative;
  padding: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.fa-dice {
  font-size: 300px;
  color:  rgba(8,146,208, 0.7);
  position: absolute;
  left: 20px;
  bottom: 20px;
  opacity: 0.4;
}

.ttit {
  top: 15px;
}

.ttt {
  position: absolute;
  top: 50px;
  width: 100%;
}
.chat-box {
  color: #2F2E2E;
  position: absolute;
  right: 100px;
  padding: 20px 50px;
  background-color:rgba(230, 230, 230, 0.2);
  border-radius: 20px;
  width: 600px;
  height: 900px;
  overflow-y: scroll;
  padding: 20px;
}

.info {
  width: 100%;
  padding: 10px;
  height: 100%;
}
.messs {
  padding: 10px;
  border: 1px solid #2F2E2E;
  border-radius: 10px;
  background: lighten(white, 10%);
  color: black;
  margin: 20px;
  margin-top: 0;
  width: 100%;
}
.innn {
  height: 50px;
  border-radius: 10%;
}
.spec {
  border-radius: 10px;
  background-color:#DD3667;
}

.formRounded {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  height: 90px;
  padding-left: 10px;
  width: 100%;
  }
.ttext {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
}
.but {
  position: absolute;
  bottom: 13px;
  right: 10px;
}
.pin {
  border:1px solid  white;
  margin: 30px;
}
.avata {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-top: 20px;
}
.gg {
  position: absolute;
  top: 84px;
  left: 450px;
}
