.max {
max-width: 90%;
}
.card-size {
  height: 400px;
  width: 600px;
}
.titl {
  padding-right: 120px;
}
.carousel {
  margin-bottom: 150px;
}
.btn-floating {
  font-size: 50px ;
  position: absolute;
  left: 10px;
}
.fa-chevron-right {
  font-size: 150px;
}
.gray {
  filter: grayscale(70%);
}
