.filter {
  width: 100%;
  height: 900px;
  border: 1px solid #2F2E2E;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px #2F2E2E;
  margin-right: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.filter h3 {
  color: #2F2E2E;
}
.filter {
  font-weight: bold;
  font-size: 20px;
}
.tfil {
  height: 100px;
  width: 100%;
  background-color:#2F2E2E;
  color: white;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.bot-fil {
  height: 200px;
  width: 100%;
  background-color:#F5F5F5;
}
.sear {
  border-radius: 5px;
  width: 100%;
}

.sorr {
  margin-right: 10px;
  font-size: 20px;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
    margin-left: 14px;
}
.fa-search {
  color: rgb(8,146,208);
  font-size: 20px;
}
/* style icon */
.inner-addon .fa-search {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.labe {
  margin-right: 10px;
  font-size: 20px;
}
/* align icon */
.left-addon .fa-search  { left:  72px;}
.right-addon .fa-search { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.gametype {
  border-left: 1px solid #2F2E2E;
}
.all  {
  width: 50%;
  text-align: center;
}
.gametype {
  width: 50%;
  text-align: center;
}
.dateee {
  padding: 10px;
}
.cust-round  {
  background-color: rgb(8,146,208);
  height: 20px;
  width: 100%;
}

.search-box {
  height: 50px;
  border-radius: 50px;
  background: white;
  padding: 10px;
  position: relative;
  border: 1px solid black;
}
.search-box input:focus {
  text-decoration: none;
  border: none;
}

.search-btn {
  color: rgb(8,146,208);
  float: right;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background: #2F2E2E;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1px;
  right: 0px;
}


.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 26px;
  width: 80%;
  height: 25px;
  border-radius: 50px;
}
.search-txt:focus {
  border:none;
}
.fa-search {
  font-size: 30px;
}
.search-box a {
  text-decoration: none;
}

// .checkbox:checked ~ .section .container .row .col-12 .checkbox-tools:not(:checked) + label{
//   box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
// }
.gametypee {
  padding: 10px;
}
.dateee {
  paddinng: 10px;
}

.checkbox-budget:checked + label,
.checkbox-budget:not(:checked) + label{
  position: relative;
  display: inline-block;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 150px;
  font-size: 16px;
  line-height: 5px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-text-stroke: 1px black;
    text-fill-color: white;
  border: 1px solid rgb(8,146,208);
}
.filtersss {
  margin: 1px;
}
.checkbox-budget:not(:checked) + label{
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-budget:checked + label{
  background-color: rgb(8,146,208);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: white;
   -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-text-stroke: 1px white;
}
.checkbox-budget:not(:checked) + label:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translate3D(0,-1px,0) scale(1.03);
  box-shadow: 5px 5px 15px 0px #2F2E2E;
  transition: all .4s ease;
}
// .checkbox-budget:checked + label::before,
// .checkbox-budget:not(:checked) + label::before{
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   border-radius: 4px;
//   z-index: -1;
// }
// .checkbox-budget:checked + label span,
// .checkbox-budget:not(:checked) + label span{
//   position: relative;
//   display: block;
// }
// .checkbox-budget:checked + label span::before,
// .checkbox-budget:not(:checked) + label span::before{
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   overflow: hidden;
// }
// .checkbox-budget:not(:checked) + label span::before{
//   max-height: 0;
// }
// .checkbox-budget:checked + label span::before{
//   max-height: 100%;
//   color: white;
// }

// .checkbox:checked ~ .section .container .row .col-xl-10 .checkbox-budget:not(:checked) + label{
//   box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
// }

.checkbox-budget:checked,
.checkbox-budget:not(:checked) {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}
// .checkbox:checked + label,
// .checkbox:not(:checked) + label{
//   position: relative;
//   width: 70px;
//   display: inline-block;
//   padding: 0;
//   margin: 0 auto;
//   text-align: center;
//   margin: 17px 0;
//   margin-top: 100px;
//   height: 6px;
//   border-radius: 4px;
//   z-index: 100 !important;
// }
// .checkbox:checked + label:before,
// .checkbox:not(:checked) + label:before {
//   position: absolute;
//   cursor: pointer;
//   top: -17px;
//   z-index: 2;
//   font-size: 20px;
//   line-height: 40px;
//   text-align: center;
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   -webkit-transition: all 300ms linear;
//   transition: all 300ms linear;
// }
// .checkbox:not(:checked) + label:before {
//   left: 0;
//   box-shadow: 0 4px 4px rgba(0,0,0,0.15), 0 0 0 1px rgba(26,53,71,0.07);
// }
// .checkbox:checked + label:before {
//   left: 30px;
//   color: white;
//   box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
// }












