.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.mapp {
    border-bottom: 2px solid rgb(8,146,208);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
