.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-background {
  background-color: #2F2E2E;
}

.button-navbar {
  border-radius: 10px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.navbar-rook {
  font-size: 40px;
}

#avatar-dropdown {
  position: absolute;
  background-color: #2F2E2E;
  top: 80px !important;
  right: 10px !important;
}

.navbar-margin-right {
  margin-right: 97px;
}

.navbar-height {
  height: 90px;
}

.navbar-dropdown-text {
  color: #DD3567;
}
