.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
}

.navbar-background {
  background-color: #2F2E2E;
}

.button-navbar {
  border-radius: 10px !important;
  padding-top: 3px !important;
  padding-bottom: 15px !important;
}

.navbar-rook {
  font-size: 40px;
}

#avatar-dropdown {
  position: absolute;
  background-color: #2F2E2E;
  top: 80px !important;
  right: 10px !important;
}

.navbar-margin-right {
  margin-right: 97px;
}

.navbar-height {
  height: 110px;
}

.navbar-dropdown-text {
  color: rgb(8,146,208);
}

.navbar-logo {
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-pointer {
  cursor: pointer;
}
