// . {
//   background-image: asset-url("dominos.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100vh;
//   width: 100%;
//   filter: drop-shadow(16px 16px 20px blue) invert(75%);
// }

.image-container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

#user_photo {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

// .bg-profile {
//   background-image: image_url('nn2.jpg');
//   z-index: 1;
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

.back {
  background-image: asset-url("nn2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.left {
  margin-left: 100px;
}
.form {
  margin-top: 100px;
}
.wrapper {
  position: relative;
}
.profile-top {
  position: absolute;
  top: -1300px;
  left: 370px;
  width: 100%;
}

#user-profile-image {
  object-fit: cover;
}
