.results {
  background-color: white;
}
.optiom {
  padding: 20px;
}
.jj {
  margin-right: 40px;
  text-decoration: none;
  color: rgb(8,146,208);
}
.hh {
  color: #2F2E2E;

}
.b {
  text-decoration: none;
}
.k {
  text-decoration: none;
}
.jj:hover {
  cursor: pointer;
  transform: translate3D(0,-1px,0) scale(1.05);
  transition: all .4s ease;
}
.hh:hover {
  cursor: pointer;
  transform: translate3D(0,-1px,0) scale(1.05);
  // box-shadow: 2px 2px 5px 0px gray;
  transition: all .4s ease;
}
.activeee {
  border-bottom: 1px solid #2F2E2E;
  text-decoration: none;
  border-radius: none;
}
.activeeee {
  border-bottom: 1px solid white;
  text-decoration: none;
  border-radius: none;
  background-color: #2F2E2E;;
}
.ll {
  text-decoration: none;
  color: #2F2E2E;
  margin-right: 40px;
}
.ll:hover {
  transform: translate3D(0,-1px,0) scale(1.05);
  transition: all .4s ease;
  cursor: pointer;
}
.cc {
  text-decoration: none;
  color: white;
}
.cc:hover {
  cursor: pointer;
  transform: translate3D(0,-1px,0) scale(1.05);
  // box-shadow: 2px 2px 5px 0px gray;
  transition: all .4s ease;
  background-color: #2F2E2E;
}

.mm {
  margin-right: 40px;
  text-decoration: none;
  color: rgb(8,146,208);
}
.mm:hover {
  cursor: pointer;
  transform: translate3D(0,-1px,0) scale(1.05);
  // box-shadow: 2px 2px 5px 0px gray;
  transition: all .4s ease;
  background-color: #2F2E2E;
}
.butttt {
  margin-left: 50px;
  margin-top: 10px;
}

.mappp {
  margin-left: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
.info-for-event {
  margin-left: 50px;
  color: white;
}
.descrip {
  padding: 10px;
  border-bottom:1px solid rgba(245,245,245,0.6);
  width: 80%;
}
.main-descrip {
  padding: 10px;
  width: 80%;
}
.game-descrip {
  padding: 10px;
}

.top-descr {
  font-size: 24px;
  font-family: Bungee;
  margin-right: 20px;
  margin-bottom: 10px;
}
.event-titlee {
  color: rgb(8,146,208);
  margin-left: 0px;
  font-size: 50px;
}
.pariti {
  padding: 10px;
  width: 36%;
  margin-left: 20px;
}
.pariti li {
  text-style-type: none;
  text-decoration: none;
  margin-top: 10px;
  border-bottom:1px solid rgba(245,245,245,0.6);
  padding: 10px;
}
.info-for-event p {
  font-size: 24px;
}
.nickm {
  font-size: 25px;
}
.pariti span {
  font-size: 25px;
}
.event-imgg {
  margin-top: 24px;
}














