.search-sec {
    font-family: Sniglet;
    font-size: 12px;
    background: none;
    padding-top: 30px;
}

.search-sec form > div {
    flex-grow: 1;
}

.search-sec form > button {
    width: auto;
    padding: 14px;
}

.search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

#left {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 5px 0 0 5px;
}
.wrn-btn {
    width: 120%;
    height: calc(3rem + 2px) !important;
    border-radius: 0 5px 5px 0;
}

